:root {
    --bg-color: rgb(49, 49, 49);
    --bg-color2: rgb(69, 69, 69);
    --color-text: seashell;
    --color1: #e34b28;
    --color1-light: #ff9b55;
    --color2: #c81a82;
    --color2-light: #dd84b8;
    --width: 800px;

    --font-family: sans-serif;
    --font-size: 18px;
}

body {
    background-color: var(--bg-color);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size);

    padding: 2rem;
    padding-bottom: 1rem;
}

header, main, footer {
    max-width: var(--width);
    margin: auto;
}

a {
    color: var(--color1-light);
    font-family: monospace;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid var(--color-text);
}

a:visited {
    color: var(--color2-light)
}

header {
    border-bottom: 2px solid var(--color-text);
}

header > nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;
}

header a:visited, footer a:visited {
    color: var(--color1-light);
}

@media screen and (min-width: 800px) {
    header > nav {
        flex-direction: row;
    }
}

#header-links a:not(:first-of-type) {
    margin-left: 0.5rem;
}

.brand {
    font-size: 2rem;
}

.current {
    text-decoration: underline var(--color2);
}

.bold {
    font-weight: bold;
}

.post-list {
    list-style-type: none;
    padding-left: 0;
    line-height: 2rem;
}

.blog-link {
    color: var(--color1-light);
}

.separator {
    border-bottom: 2px;
}

article pre.highlight {
    overflow: auto;
    font-size: 1rem;
}

footer {
    padding-top: 2rem;
    border-top: 2px solid var(--color-text);
}