<!doctype html>
<html>
  <head>
    <title>{{ config.title | title }} - {{ post.title }}</title>
    <link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/highlight/styles/a11y-dark.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="index.html" class="bold brand">{{ config.title | title }}</a>
        </div>
        <div id="header-links">
          <a class="bold" href="#">About me</a>
            &nbsp;| 
          <a class="bold" href="https://links.eleos.space">Links</a>
        </div>
      </nav>
    </header>
    <main>
      <h1>{{ post.title }}</h1>
      <p>
        <em>Posted on {{ post.date }}</em>
      </p>
      <div class="separator"></div>
      <article>
        {{ post.content | safe }}
      </article>
    </main>
    <footer>
      <a href="#top" class="bold">Back to the top</a>
    </footer>
  </body>
</html>