<!doctype html>
<html>
  <head>
    <title>{{ config.title | title }}</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="index.html" class="bold brand current">{{ config.title | title }}</a>
        </div>
        <div id="header-links">
          <a class="bold" href="#">About Me</a>
            &nbsp;| 
          <a class="bold" href="https://links.eleos.space">Links</a>
        </div>
      </nav>
    </header>
    <main>
      <p>
        {{ config.description | safe }}
      </p>

      <h2 class="bold">Articles : </h2>
      <ul class="post-list">
        {% for post in posts %}
        <li>
          {{ post.date }} - <a class="bold blog-link" href="{{ post.stem }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </main>
    <footer>
      <a href="#top" class="bold">Back to the top</a>
    </footer>
  </body>
</html>